syntax: glob
*.swp
test_settings.py
*~
*.js~
*.pyc
*.pyo
*\#
*\.\#*
*.DS_Store
*.gz
*.jar
.svn
.sql
*.orig
django.wsgi
._*
.hg*
.hgignore
.dir-locals.el
*.pem
.idea
.ropeproject
.coverage
*.cfg
htmlcov
/static
/static-users
/venv